name: Publish SLogic
on:
  push:
    tags:
      - '*'
env:
  GITHUB_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
  SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
  SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
  PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
  PGP_SECRET_KEY: ${{ secrets.PGP_SECRET_KEY }}
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            java: 17
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
      - name: Build and test
        shell: bash
        run: |
          echo -n "$PGP_SECRET_KEY" | base64 --decode | gpg --batch --import
          sbt clean +test +publishSigned sonatypeBundleRelease

